@import './colors.scss';

.cupcakes-container{
  display: flex;

  .cupcakes-card-row {
    display: flex;

    @media screen and (max-width: 800px) {
      flex-direction: column;
    }
  }
}

.page-controls-container {
  display: flex;
  justify-content: center;
}

.cupcake-options-container {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  text-align: left;

  margin: 0 auto;
}