@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import './colors.scss';

body, html {
  margin: 0px;
  color: $primary-text;
  background-color: $secondary;
}

h1, h2, h3, h4 {
  font-family: 'Playfair Display', sans-serif;
  font-style: italic;
}


h5, h6, span, p, li {
  font-family: 'Open Sans', sans-serif;
}

a { 
  color: $primary-text;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;

  &.active {
    font-weight: 700;
    text-decoration: underline;
  }

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  &:focus {
    border: none;
    outline: none;
  }
}
