@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import './colors.scss';

body, html {
  margin: 0px;
  color: $primary-text;
}

h1, h2, h3, h4 {
  font-family: 'Playfair Display', sans-serif;
  font-style: italic;
}


h5, h6, span, p, li {
  font-family: 'Open Sans', sans-serif;
}

a { 
  color: $primary-text;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;

  &.active {
    font-weight: 700;
    text-decoration: underline;
  }

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  &:focus {
    border: none;
    outline: none;
  }

  &.button {
    width: 160px;
    height: 40px;

    color: $button-text-color;
    line-height: 40px;
    font-size: 14px;
    font-weight: 700;

    text-align: center;
    background-color: $button-color;
    margin: 0px 10px 30px 10px;
    transition: background-color 0.25s ease;
    border-radius: 30px;
    text-transform: uppercase;

    &:hover {
      text-decoration: none;
      background-color: $button-hover-color;
    }

    @media screen and (max-width: 800px) {
      width: 100px;
      height: 30px;
      line-height: 30px;
      font-size: 12px;
      margin: 0px 7px 15px 7px;
      text-align: center;
    }
  }
}
