@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500&display=swap');

$primary-text: #c6538c;
$secondary-text: #cccccc;

$white: #cccccc;

body, html {
  margin: 0px;
  color: $primary-text;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}


h5, h6, span, p, li {
  font-family: 'Roboto Slab', serif;
}
