.header-container {
  width: 100%;
  height: 70px;
  line-height: 70px;
  background-color: lightblue;

  display: flex;
  position: fixed;
  top: 0px;
  
  font-family: 'Josefin Slab', 'Times New Roman', Times, serif;

  @media only screen and (max-width: 800px) {
    height: 50px;
    line-height: 50px;
  }

  .logo-button {
    height: 100%;
    font-size: 30px;
    font-weight: 700;
    color: block;
    padding-left: 80px;
    border: none;

    @media only screen and (max-width: 800px) {
      font-size: 22px;
      padding-left: 30px;
    }  
  }

  .nav-container {
    height: 100%;
    flex: 1;
    color: black;
    display: flex;
    justify-content: flex-end;
    padding-right: 80px;
    padding-left: 20px;

    .nav-button {
      font-family: 'Josefin Slab', 'Times New Roman', Times, serif;
      border: none;
      background-color: transparent;
      font-size: 18px;
      padding: 0px 5px 0px 5px;

      &.active {
        font-weight: 700;
        text-decoration: underline;
      }

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }

      &:focus {
        border: none;
        outline: none;
      }
    }

    @media only screen and (max-width: 800px) {
      padding-right: 30px;

      .nav-button {
        font-size: 16px;
      }
    } 
  }
}