@import '../../styles/colors.scss';

.card-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 10px 10px;
  background-color: $primary;

  .card-image-container {
    width: 100%;

    .card-image {
      width: 100%;
    }
  }

  .card-content-container {
    text-align: center;
    padding: 0px 15px 10px 15px;

    h2 {
      margin-bottom: 0px;
      font-size: 20px;
    }

    p {
      font-size: 16px;
      margin-top: 10px;
    }

    @media screen and (max-width: 800px) {
      h2 {
        font-size: 18px;
      }

      p {
        font-size: 16px;
      }
    }
  }

  &.clickable {
    cursor: pointer;
  }
}